{
  "printWidth": 100,
  "arrowParens": "always",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "<NODE_INTERNALS>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^types$",
    "^@/types/(.*)$",
    "^@/config/(.*)$",
    "^@/constants/(.*)$",
    "^@/environments/(.*)$",
    "^@/core/(.*)$",
    "^@/plugins/(.*)$",
    "^@/infrastructure/(.*)$",
    "^@/lib/(.*)$",
    "^@/utils/(.*)$",
    "^@/domain/(.*)$",
    "^@/entities/(.*)$",
    "^@/models/(.*)$",
    "^@/services/(.*)$",
    "^@/use-cases/(.*)$",
    "^@/repositories/(.*)$",
    "^@/database/(.*)$",
    "^@/schemas/(.*)$",
    "^@/api/(.*)$",
    "^@/controllers/(.*)$",
    "^@/routes/(.*)$",
    "^@/middlewares/(.*)$",
    "^@/validators/(.*)$",
    "^@/events/(.*)$",
    "^@/listeners/(.*)$",
    "^@/subscribers/(.*)$",
    "^@/queue/(.*)$",
    "^@/factories/(.*)$",
    "^@/helpers/(.*)$",
    "^@/tests/(.*)$",
    "^@/mocks/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderTypeScriptVersion": "5.0.0",
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
